<div> Produkte
  HIER SIND PRODUKTE Bei Jedem NEUE FILTERKRITERIUM ANGEZEIGT
  <hr>
  --------Default alle Produkte------
  <hr>
  -------- UpToDate bei jedem neuen Auswähl werden --------
</div>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">anwendungsBereich</th>
      <th scope="col">untergrund</th>
      <th scope="col">deckkraft</th>
      <th scope="col">farbton</th>
      <th scope="col">path</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of allProducts ">
      <td>{{product.anwendungsBereich}}</td>
      <td>{{product.untergrund}}</td>
      <td>{{product.deckkraft}}</td>
      <td>{{product.farbton}}</td>
      <td>{{product.path}}</td>

    </tr>

  </tbody>
</table> -->
